polyline {
	vector-effect: non-scaling-stroke;
	stroke: #000000;
	opacity: 0.3;
}

.edge {
	vector-effect: non-scaling-stroke;
	vector-effect: non-scaling-stroke;
}

text {
	font-size: 80px;
	font-family: "Roboto",Arial,sans-serif;
}

.olControlPanZoomBar {	
	position: absolute !important;
	top: auto !important;
	left: auto !important;
    bottom: 180px !important;
    right: 50px !important;
}
